@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
  }
.mnemonic-pill{
    backdrop-filter: 10px;
}
